.fadeOut 
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 50ms, opacity 50ms;
}
.fadeIn 
{
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 50ms;
}