.block_center
{
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
}

.text_center
{
	text-align: center !important;
}

#main_menu
{
	z-index: 1;
	top: 0;
	position: fixed;
}

#main_container
{
	margin: 65px 0 8px 0;
	border-right: 1px solid #d4d4d5;
	border-left:  1px solid #d4d4d5;
	border-bottom: 1px solid #d4d4d5;
	box-shadow: 0 0 10px #888;
}

#footer
{
	margin-top: 0px;
	margin-bottom: 8px;
}

body
{
	background-color: #efefef;
}

@media only screen and (max-width: 768px) 
{
    #main_container
    {
        margin-top: 275px;
    }
}