.fadeOut 
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 240ms, opacity 240ms;
}
.fadeIn 
{
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 240ms;
}