*
{
	font-family: sans-serif;
}

body
{
	margin: 0pt 0pt 0pt 0pt;
}

table
{
	width: 100%; 
	border: 1pt solid black; 
	border-collapse: collapse;
}

td
{
	padding: 1.125pt 0pt 1.125pt 0pt !important;
}

td, th
{
	font-size: 8.5pt;
	border: 1pt solid black;
}

td:nth-child(1), th:nth-child(1)
{
	width: 30%;
}

td:nth-child(2), th:nth-child(2)
{
	width: 35%;
}

td:nth-child(3), th:nth-child(3)
{
	width: 35%;
}

.larger_font
{
	font-size: 9pt;
	font-weight: bold;
}

.standard_font
{
	font-size: 9pt;
}

.smaller_font
{
	font-size: 8pt;
}

.pull_left
{
	float: left;
}

.pull_right
{
	float: right;
}

.text-center
{
	text-align: center;
}

.text_right
{
	text-align: right;
}

.text-justify
{
	text-align: justify;
}

.no_margin
{
	margin: 0pt 0pt 0pt 0pt;
}

.block_center
{
	margin-right: auto;
	margin-left: auto;
}

.label
{
	display: inline;
}

.field
{
	border-bottom: 0.7625pt solid black !important;
	display: inline-block; 
	text-align: center;
}

.empty_cell
{
	height: 7pt;
}

.hidden
{
	display: none;
}

.camera_certificate_header
{
	margin-bottom: 5px;
}

.page_breaker
{
	width: 50px; 
	height: 1px; 
	float: left;
}

#logo
{
	height: 49.5pt;
	width: 49.5pt;
}

#camera
{
	width: 192pt;
	height: 192pt;
	border: 1px solid grey;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

#picture
{
	width: 96px;
	height: 96px;
	border: 0.5625pt solid black;
	margin-left: 12pt;
	margin-bottom: 4.5pt;
}

@media print
{    
    .no-print
    {
        display: none !important;
    }

    #certificates-wrapper
    {
    	text-align: justify !important;
    }

    .invisible_on_print
    {
    	visibility: hidden !important;
    }

    .page_breaker
    {
    	break-before: always !important;
    	width: 0px !important;
    	height: 0px !important;
    	clear: both !important;
    }
}