*
{
	font-family: sans-serif;
}

body
{
	margin: 0pt 0pt 0pt 0pt;
}

table
{
	width: 100%; 
	border: 1pt solid black; 
	border-collapse: collapse;
}

td
{
	padding: 1.125pt 0pt 1.125pt 0pt !important;
}

td, th
{
	font-size: 8.5pt;
	border: 1pt solid black;
}

td:nth-child(1), th:nth-child(1)
{
	width: 30%;
}

td:nth-child(2), th:nth-child(2)
{
	width: 35%;
}

td:nth-child(3), th:nth-child(3)
{
	width: 35%;
}

#h4_front
{
	font-weight: 900;
	padding: 2.25pt;
	letter-spacing: .8pt;
	color: black;
	border: 1pt solid black !important;
}

#h4_back
{
	margin-top: 0;
	margin-bottom: 4.5pt;
	padding-top: 1.125pt;
	padding-bottom: 1.125pt;
	width: 99pt;
	border: 1.125pt solid black;
	letter-spacing: 1.125pt;
	box-shadow: -4.45pt 4.45pt 2.25pt 0pt black;
}

/*.health_certificate
{
	width: 252pt;
	height: 324pt;
	border: 0.7625pt solid black !important;
}*/

.larger_font
{
	font-size: 9pt;
	font-weight: bold;
}

.standard_font
{
	font-size: 9pt;
}

.smaller_font
{
	font-size: 8pt;
}

.pull_left
{
	float: left;
}

.pull_right
{
	float: right;
}

.text-center
{
	text-align: center;
}

.text_right
{
	text-align: right;
}

.text-justify
{
	text-align: justify;
}

.no_margin
{
	margin: 0pt 0pt 0pt 0pt;
}

.block_center
{
	margin-right: auto;
	margin-left: auto;
}

.label
{
	display: inline;
}

.field
{
	border-bottom: 0.7625pt solid black !important;
	display: inline-block; 
	text-align: center;
}

.table_wrapper
{
	margin-top: 9pt;
}

.dates
{
	width: 90pt;
}

.empty_cell
{
	height: 7pt;
}

.empty_cell_large
{
	height: 9pt;
}

.hidden
{
	display: none;
}

.certificate_view_wrapper
{
	display: inline-block;
}

.camera_certificate_header
{
	margin-bottom: 5px;
}

.page_breaker
{
	width: 50px; 
	height: 1px; 
	float: left;
}

#outer_border
{
	/*margin: 18pt;*/
	border: 2.25pt solid black;
	width: 298pt;
	height: 285.75pt;
	
}

#inner_border
{
	margin: 2.25pt;
	border: 1.125pt solid black;
	height: 279pt;
}

#contents
{
	margin: 6.75pt 10.5pt 6.75pt 10.5pt;
	overflow: hidden;
}

#header_1
{
	overflow: auto;
}

#header_1>p
{
	margin: 0pt;
}

#logo
{
	height: 49.5pt;
	width: 49.5pt;
}

/*#header_2
{
	margin-right: 10pt;
	margin-left: 10pt;
}*/

#reg_number
{
	width: 120pt;
}

#name
{
	width: 245pt; 
}

#age
{
	width: 22pt;
}

#sex
{
	width: 17pt;
}

#work_type
{
	width: 150pt;
}

#establishment
{
	width: 212pt;
}

#camera
{
	width: 192pt;
	height: 192pt;
	border: 1px solid grey;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

#picture
{
	width: 96px;
	height: 96px;
	border: 0.5625pt solid black;
	margin-left: 12pt;
	margin-bottom: 4.5pt;
}

#signature_si_in_charge
{
	width: 150pt;
	margin-right: 12pt;
}

@media print
{    
    .no-print
    {
        display: none !important;
    }

    #certificates-wrapper
    {
    	text-align: justify !important;
    }

    .no_main_border
    {
    	border: none !important;
    	padding: 0.7625pt !important;
    }

    .no_outer_border
    {
    	border: none !important;
    	padding: 2.25pt !important;
    }

    .no_inner_border
    {
    	border: none !important;
    	padding: 1.125pt !important;
    }

    .health_certificate
    {
    	margin-top: 3px !important;
    	margin-left: 3px !important;
    }

    .invisible_on_print
    {
    	visibility: hidden !important;
    }

    .no_border_on_print, table.no_borders, table.no_borders td, table.no_borders th
    {
    	border: none !important;
    }

    .page_breaker
    {
    	break-before: always !important;
    	width: 0px !important;
    	height: 0px !important;
    	clear: both !important;
    }
}